$mainFontFamily: 'Poppins',
sans-serif;

$headerBgColor: rgba(86, 184, 135, .06);
$headerPhotoBorderColor: #ffffff;
$headerDefaultTextColor: #ffffff;
$headerIconsBGColor: rgba(255, 255, 255, .1);
$defaultSectionBgColor: #ffffff;
$primaryColor: #000000;
$secondaryColor: #555;
$personInfoAboutMe: #9baab3;
$statsNumberColor:#9baab3;
$progressBarBGColor: #ebeef2;
$progressBarColor: #56b887;
$timelineBgColor:rgba(86, 184, 102, 0.25);